<form (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label for="firstName">First Name : </mat-label>
        <input matInput [(ngModel)]="member_data.firstName" id="member_data.firstName" type="text" name="firstName">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label for="lastName">Last Name : </mat-label>
        <input matInput [(ngModel)]="member_data.lastName" id="lastName" type="text" name="lastName">
    </mat-form-field>
    <br>

    <mat-form-field>   
        <mat-label for="email">email : </mat-label>
        <input matInput [(ngModel)]="member_data.email" id="email" type="email" name="email">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label for="phoneNo">phoneNo : </mat-label>
        <input matInput [(ngModel)]="member_data.phoneNo" id="phoneNo" type="number" name="phoneNo">
    </mat-form-field>
    <br>

    <mat-form-field>    
        <mat-label for="hoursPerWeek">Hours per week : </mat-label>
        <input matInput [(ngModel)]="member_data.hoursPerWeek" id="hoursPerweek" type="number" name="hoursPerWeek">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit">Save</button>

 </form>

