<form [formGroup]="registerForm" class="login-form">
    
  
    <div class="container">

    <mat-form-field appearance="fill" class="login-full-width">  
      <mat-label for="uname"><b>Email</b></mat-label>
      <input type="text" formControlName="email" placeholder="Enter Email" name="uname" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="login-full-width">
      <mat-label for="psw"><b>Password</b></mat-label>
      <input type="password" formControlName="password" placeholder="Enter Password" name="psw" required>
    </mat-form-field>

      <button type="submit" (click)="login()">Log In</button>

      <div class="OAuth">  

        <div (click)="googleLogin()" id="googleAuth">
          <a>Login with Google</a>
        </div>

        <div id="phoneAuth">
          <a routerLink="/phoneNumber">Login with phone number</a>
        </div>

        <div id="signup">
          <a routerLink="/signup">New User? Signup</a>
        </div>
        
        
      </div>
    </div>
    
  

  </form>