<form [formGroup]="registerForm" class="signup-form">
    
  
    <div class="container">

    <mat-form-field class="signup-full-width">
        <mat-label for="uname"><b>Email</b></mat-label>
        <input matInput type="text" formControlName="email" placeholder="Enter Email" name="uname" required>
    </mat-form-field>
  
    <br>

    <mat-form-field  class="signup-full-width">
      <mat-label for="pass"><b>Password</b></mat-label>
      <input matInput type="password" formControlName="password" placeholder="Enter Password" name="pass" required>
    </mat-form-field>

      <button class="" (click)="signup()">signup</button>
  
      <br>
      <br>
     <!-- <button type="submit" (click)="signup()">Sign In</button>-->
      <span class=""><a routerLink="/login">Existing User? Click here to Login</a></span>
      
    </div>

  </form>