<div>
    <h2>Project List</h2>

    <button mat-raised-button color="accent" routerLink="/projects/add-project">Add Project</button>

    <br>
    <br>

    <table id="projects">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th style="width: 15px;"></th>
        <th style="width: 15px;"></th>
      </tr>
      <tr *ngFor="let project of projects">
        <td>{{ project?.id }}</td>
        <td>{{ project?.name }}</td>
        <td><button mat-mini-fab color="accent" (click)="update(project)">
          <mat-icon>mode_edit</mat-icon>
        </button></td>
        <td><button mat-mini-fab color="accent" (click)="delete(project)">
          <mat-icon>delete</mat-icon>
        </button>
      </tr>
    </table>
    
    <br>
    
    <button mat-raised-button color="accent" (click)="back()">BACK</button>
    
  </div>